{% extends "_main.jinja" %}

{% block title %} Stranka nenalezena ! {% endblock %}

{% block main %}
    <div class="internal_error">
        <p>
            Ooops! Pozadovana stranka neni na tomto webu
        </p>
    </div>
{% endblock %}