{% extends "_main.jinja" %}

{% block title %} Error! {% endblock %}

{% block main %}
    <div class="internal_error">
        <p>
            Ooops! Omlouvame se, neznama chuba. Kontaktujte <a href="mailto:info@rapidnet.cz">support</a>
        </p>
    </div>
{% endblock %}