<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href={{ url_for("static", filename="css/main.css") }}>
</head>
<body>
<header>
    <h1><a href="{{ url_for("view_welcome_page")}}">Jiri Fait</a> </h1>
</header>
<nav>
    <ul class="nav">
        <li><a href="{{ url_for("view_about_page") }}">About</a></li>
        <li><a href="{{ url_for("view_article_page") }}">Article</a></li>
        <li><a href="{{ url_for("view_admin_page") }}">Admin</a></li>
    </ul>
</nav>

<main>
    {% block main %}
    {% endblock %}
</main>
<footer>
    <p>
        (c) 2021 Jiri Fait
    </p>
</footer>
</body>
</html>