<nav>
    <ul class="nav">
        <li><a href="{{ url_for("view_about_page") }}">About</a></li>
        <li><a href="{{ url_for("view_articles_page") }}">Article</a></li>
        <li><a href="{{ url_for("view_admin_page") }}">Admin</a></li>
    </ul>
</nav>
